{% extends 'back.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>{{ 'create.new.ser'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ 'form.create'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}